<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarefas</title>
  </head>
  <body>
    <div th:fragment="tasks-fragment(tasks)">
      <table>
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task : ${tasks}" th:object="${task}">
            <td>
              <a
                th:href="@{/tasks/{taskId}(taskId=${task.id})}"
                th:text="*{title}"
              ></a>
            </td>
            <td th:text="*{status}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
