<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section th:fragment="tasks-fragment(tasks)">
      <table aria-label="Lista de tarefas" role="table" class="tasks-table">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task : ${tasks}">
            <td>
              <a
                th:href="@{/tasks/{taskId}(taskId=${task.id})}"
                th:text="${task.title}"
              ></a>
            </td>
            <td th:text="${task.status}"></td>
          </tr>
          <tr th:if="${#lists.isEmpty(tasks)}">
            <td colspan="2" class="empty-message">
              Nenhuma tarefa encontrada.
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
