<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro Interno do Servidor</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  </head>
  <body>
    <main>
      <section>
        <h1>Erro Interno do Servidor</h1>
        <p>Ocorreu um erro inesperado. Tente novamente mais tarde.</p>
        <nav>
          <a href="/dashboard" th:href="@{/dashboard}"
            >Voltar para a página inicial</a
          >
        </nav>
      </section>
    </main>
  </body>
</html>
