<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div align="center">
      <h1>Login</h1>

      <div
        th:replace="~{fragments/error-fragment:: error-fragment(${errorMessages})}"
      ></div>

      <form th:action="@{/login/save}" th:object="${userForm}" method="post">
        <label for="name">Nome:</label>
        <input id="name" type="text" th:field="*{name}" />
        <br />

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <br />

        <button type="submit">Login</button>
      </form>
      Não tem uma conta? <a th:href="@{/register}">Registrar</a>
    </div>
  </body>
</html>
