<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar</title>
    <link rel="stylesheet" th:href="@{/css/login-form.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/error-fragment.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  </head>
  <body>
    <main>
      <section>
        <header>
          <h1>Registrar</h1>
        </header>

        <section
          th:replace="~{fragments/error-fragment:: error-fragment(${errorMessages})}"
        ></section>

        <form
          th:action="@{/register/save}"
          th:object="${userForm}"
          method="post"
        >
          <div>
            <label for="name">Nome:</label>
            <input id="name" type="text" th:field="*{name}" />
          </div>

          <div>
            <label for="password">Password:</label>
            <input id="password" type="password" th:field="*{password}" />
          </div>

          <div>
            <button type="submit">Registrar</button>
          </div>
        </form>

        <p>
          Já tem uma conta?
          <a th:href="@{/login}">Login</a>
        </p>
      </section>
    </main>
  </body>
</html>
