<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarefa</title>
  </head>
  <body>
    <div
      th:replace="~{fragments/error-fragment:: error-fragment(${errorMessages})}"
    ></div>

    <div>
      <div th:object="${task}">
        <h4 th:text="*{title}"></h4>
        <p th:text="*{description}"></p>
        <p th:text="*{status}"></p>
        <p th:text="*{createdAt}"></p>
        <p th:text="*{finishedAt}"></p>
      </div>

      <button>
        <a th:href="@{/tasks/cancel/{taskId}(taskId=${task.id})}"> Cancelar </a>
      </button>

      <button>
        <a th:href="@{/tasks/finish/{taskId}(taskId=${task.id})}">
          Finalizar
        </a>
      </button>

      <button>
        <a th:href="@{/tasks/undo/{taskId}(taskId=${task.id})}">
          Deixar Pendente
        </a>
      </button>

      <button>
        <a th:href="@{/tasks/update-form/{taskId}(taskId=${task.id})}"
          >Actualizar dados</a
        >
      </button>
    </div>
  </body>
</html>
