<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarefa</title>
  </head>
  <body>
    <!-- Erros -->
    <section
      th:replace="~{fragments/error-fragment:: error-fragment(${errorMessages})}"
    ></section>

    <!-- Conteúdo principal -->
    <main>
      <article th:object="${task}">
        <header>
          <h4 th:text="*{title}"></h4>
        </header>

        <p th:text="*{description}"></p>
        <p th:text="*{status}"></p>
        <p
          th:text="${#temporals.format(task.createdAt, 'dd/MM/yyyy HH:mm')}"
        ></p>
        <p
          th:text="${#temporals.format(task.finishedAt, 'dd/MM/yyyy HH:mm')}"
        ></p>

        <!-- Ações -->
        <nav class="task-actions">
          <ul>
            <li>
              <a
                th:href="@{/tasks/cancel/{taskId}(taskId=${task.id})}"
                class="button"
                >Cancelar</a
              >
            </li>
            <li>
              <a
                th:href="@{/tasks/finish/{taskid}(taskid=${task.id})}"
                class="button"
                >Finalizar</a
              >
            </li>
            <li>
              <a
                th:href="@{/tasks/undo/{taskId}(taskId=${task.id})}"
                class="button"
                >Deixar Pendente</a
              >
            </li>
            <li>
              <a
                th:href="@{/tasks/update-form/{taskId}(taskId=${task.id})}"
                class="button"
                >Actualizar dados</a
              >
            </li>
          </ul>
        </nav>
      </article>
    </main>
  </body>
</html>
